@font-face {
    font-family: sf;
    src: url(src/assets/SF-Pro-Display-Regular.ttf);
}

@font-face {
    font-family: sf;
    src: url(src/assets/SF-Pro-Display-Bold.ttf);
    font-weight: bold;
}

.background {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom right, #8223fc, #924eff);
}

.col-card {
    height: 100vh;
}

.card {
    /* max-width: 400px; */
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    /* margin: auto; */
    width: 60%;
    height: 70vh;
    padding: 10px;
    text-align: center;
    align-content: center;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 25px;
}

.card-content {
    /* background-color: red; */
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0px;
    padding: 0px;
    top: 50%;
    left: 50%;
    width: 100%;
    vertical-align: middle;
}

.col-img {
    text-align: right;
}

img {
    max-height: 100%;
    max-width: 100%;
}

.card-topic {
    align-content: center;
    text-align: center;
    font-family: sf;
    font-weight: bold;
    margin-bottom: 40px;
    margin-top: 20px;
    color: #2e12ff;
}

.text-field-design {
    margin: 0 auto;
    margin-bottom: 15px;
    width: 70%;
    border-width: 0px;
    border-bottom-width: 3.5px;
    border-style: solid;
    border-color: #2e12ff;
    background-color: #e3e3e3;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: sf;
}

.text-field {
    margin-left: 10px;
    padding-left: 10px;
    border-width: 0;
    width: 80%;
    background-color: #e3e3e3;
    outline-width: 0px;
}

.input-icons {
    width: 100%;
    margin-bottom: 10px;
    margin-left: 0px;
    padding-left: 0px;
    color: #2e12ff;
}

.error-icon {
    color: red;
    margin-right: 5px;
}

.error {
    color: red;
    margin: 0 auto;
}

.sign-in-button {
    width: 70%;
    margin-bottom: 15px;
    margin-top: 20px;
    border-radius: 5px;
    border-width: 0;
    background-color: black;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    font-family: sf;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.40);
}

.sign-in-button:hover{
    background-color: #101010;
}

.error-icon {
    text-align: center;
    padding: 0px;
}

.error-message {
    text-align: left;
}

.frame {
    width: 250px;
    height: 200px;
    margin: 20px;
    position: relative;
    display: flex;
}

.child {
    display: flex;
    justify-content: center;
}