<div class="login-card">
  <div class="card">
    <h3 class="card-topic">Sign Up</h3>
    <div class="row">
    <div class="frame">
      <img src="assets/images/login_screen_image.png" alt="Pharmacy Image">
    </div>
    <div class="form" *ngIf="!isSignedIn">
      <!-- <h2>Sign up</h2> -->
      <input type="text" #emailSignup /><br>
      <input type="text" #passwordSignup /><br>
      <button (click)="onSignup(emailSignup.value,passwordSignup.value)">Sign up</button>
    </div>
    </div>
  </div>
</div>


<div *ngIf="false">
  <h2>Sign In</h2>
  <input type="text" #email />
  <input type="text" #password />
  <button (click)="onSignin(email.value,password.value)">Sign in</button>
</div>
<app-home *ngIf="isSignedIn" (isLogout)="handleLogout()"></app-home>